.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

.form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    width: 250px;
    left: 530px;
    top: 180px;
}

.result-container {
    text-align: center;
    font-weight: bold;
}