.header {
    position: absolute;
    font-size: 20px;
    bottom: 91%;
    left: 40%;
    top: 1%
}

.profile-logo {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 24px;
    left: 90%;
}

.user-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 8.29%;
    right: 8.38%;
    top: 8.33%;
    bottom: 8.33%;

    background: #333333;
}

.toggle-icon{
    position: absolute;
    left: 70%;
}