.drawer-box {
    padding: 2;
    width:  300px;
    text-align: center;
}

.drawer-link {
    text-decoration: none;
    color: black;
}

.drawer-icon-button {
    position: absolute;
    left: 40px;
    top: 24px;
}